<div class="modal-header">
    <h4 class="modal-title">Upload Transactions File</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <mat-checkbox [(ngModel)]="inProgress" style="width: 100%; padding: 12px;" color="primary" >Is the month still in progress?</mat-checkbox>
    
    <mat-form-field style="width: 100%; padding: 12px 12px;">
        <mat-label>Month</mat-label>
        <input matInput placeholder="yyyy-mm" [(ngModel)]="date">
    </mat-form-field>
    
    <mat-form-field style="width: 100%; padding: 12px 12px;">
        <mat-label>Source of the Transactions File</mat-label>
        <mat-select [(ngModel)]="source">
            <mat-option value="personal-capital">Personal Capital</mat-option>
        </mat-select>
    </mat-form-field>
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  </div>
  <div class="modal-footer">
    <button mat-raised-button (click)="activeModal.dismiss('Close click')">Close</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>
