<ng-container *ngIf="isBudget">
    <button mat-stroked-button  color="primary" (click)="makeBudgetDefault()"
        title="Update this budget's entries to match the default budget">
        Match to the Default Budget
      </button>
</ng-container>
<div class="card">
    <div class="card-header">
        <p>Date: {{date}}, Type: {{type}}</p>
    </div>

    <ng-container *ngIf="budgetForm">
        <form (ngSubmit)="save()" [formGroup]="budgetForm">

            <div class="col-md-8" style="padding-left: 36px;">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input"
                            type="checkbox"
                            formControlName="inProgress"> 
                        In Progress?
                    </label>
                </div>
            </div>
            <div class="form-group row mb-2" *ngFor="let item of budgetFields" style="padding-left: 36px;">
                <label class="col-md-2 col-form-label">{{item.displayName}}</label>
                <div class="col-md-2">
                    <input class="form-control"
                        type="number"
                        [formControlName]="item.field"> 
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3"
                        type="submit"
                        [title]="budgetForm.valid ? 'Update' : 'Form data invalid'"
                        [disabled]='!budgetForm.valid'>
                        Update
                    </button>
                </div>
            </div>
        </form>
    </ng-container>
</div>
